@media only screen and (min-width: 688px) and (max-width: 997px){
    main{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec-01{
        width: 90%;
        align-items: center;
    }
}