/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: "Roboto", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
/* font-family: "Manrope", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3A3A3A;
}
body{
    font-family: "Poppins", sans-serif;
}
.container{
    width: 1200px;
    padding-top: 46px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    margin-left: 34px;
    list-style: none;
}
.navigation li a{
    text-decoration: none;
}
.banner{
    display: grid;
    grid-template-columns: 1fr 475px;
    grid-column-gap: 133px;
}
.right-banner{
    margin-top: 50px;
}
.right-banner .image-background{
    position: absolute;
}
.right-banner img{
    width: 440px;
    height: 414px;
    position: relative;
    z-index: 1;
}
.right-banner img:hover{
    transform: scale(1.1);
    transition: transform 1s;
}
.left-banner{
    margin-top: 145.8px;
}
.left-banner h1{
    font-size: 52px;
    font-weight: 700;
}
.left-banner p{
    font-size: 16px;
    font-weight: 600;
}
.left-banner a{
    text-decoration: none;
    display: block;
    height: 40px;
    width: 170px;
    padding: 8px 24px;
    background-color: #E02C6D;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    margin-top: 16.1px;
}
.left-banner a:hover{
    transform: scale(1.1);
    transition: transform 1s;
}
.left-banner .preebook{
    color: rgb(255, 255, 255);
}
.sec-logo{
    width: 1200px;
    margin: 69px auto;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images{
    width: 968px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: radial-gradient(#f1f1f100, #e0dfdf, #f1f1f100) 5;
}
.main-part .sec-1{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-part .sec-1 .products{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.main-part .products .product{
    box-shadow: 5px 5px 20px #0000001e;
    border-radius: 5px;
}
.main-part .products .product .product-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-part .products .product .product-image img{
    width: 90%;
    margin-top: 17px;
}
.main-part .products .product .product-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
    margin-left: 14px;
}
.main-part .products .product .product-info h1{
    font-size: 28px;
    font-weight: 500;
}
.main-part .products .product .product-info h2{
    font-size: 24px;
    font-weight: 400;
}
.main-part .products .product .product-info .ratings p{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #5E6366;
}
.main-part .products .product .product-info .ratings p i{
    font-size: 12px;
    color: #FB8200;
}
.main-part .products .product .product-info .short-text{
    margin-top: 5px;
    margin-bottom: 17px;
    width: 196px;
    height: 61px;
}
.main-part .products .product .product-info .short-text p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}
.ancor{
    width: 1000px;
    margin: 40px auto;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
}
.ancor a{
    color: #E02C6D;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
.ancor i{
    color: #E02C6D;
}
.bonus-sec{
    width: 1200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.bonus-sec h2{
    text-align: center;
}
.bonus-sec .content{
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.bonus-sec .content .column{
    display: flex;
    height: 320px;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.068);
}
.bonus-sec .content .column img{
    margin-top: 20px;
    border-radius: 5px;
    width: 90%;
}
.bonus-sec .content .column h3{
    margin: 10px;
}
.bonus-sec .content .column p{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}
.bonus-sec .content .column a{
    margin-top: 20px;
    color: #E02C6D;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
}
.bonus-sec .content .column i{
    color: #E02C6D;
}
footer{
    margin-top: 80px;
    background-color: #0A0826;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 239px;
}
footer .footer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footer-info h2{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
footer .footer-info p{
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-top: 3px;
    line-height: 24px;
}
footer .footer-info .social-icon{
    width: 176px;
    display: flex;
    justify-content: space-between;
}
footer .footer-info .social-icon a{
    margin-top: 17px;
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 20px;
}
footer .footer-info .social-icon a i{
    font-size: 17px;
    color: #fff;
}

/* MEDIA-QUERIES FOR MOBILE */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container .menu{
        position: absolute;
        display: none;
    }
    .container .logo h1{
        font-size: 16px;
    }
    .container .banner{
        width: 100%;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .container .banner .right-banner{
        display: flex;
        justify-content: center;
    }
    .container .banner .right-banner img{
        width: 60%;
        height: 25%;
    }
    .container .banner .left-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .container .banner .left-banner h1{
        font-size: 28px;
        text-align: center;
    }
    .container .banner .left-banner p{
        font-size: 14px;
        text-align: center;
        width: 85%;
    }
    .container .banner .left-banner a{
        font-size: 16px;
        padding: 4px 14px;
    }
    .sec-logo{
        width: 100%;
    }
    .sec-logo .images{
        width: 90%;
        height: 50px;
        display: grid;
        grid-template-columns: repeat(4, .5fr);
    }
    .sec-logo .images img{
        width: 30px;
        display: flex;
    }
    .main-part{
        width: 300px;
        margin: 0 auto;
    }
    .sec-1{
        width: 300px;
        margin: 0 auto;
    }
    .main-part .sec-1 .products{
        grid-template-columns: repeat(1, 1fr);
    }
    .ancor{
        width: 100%;
        justify-content: center;
    }
    .bonus-sec{
        width: 100%;
    }
    .bonus-sec .content{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }
    .bonus-sec .content .column{
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.068);
    }
    .bonus-sec .content .column h3{
        height: 58px;
    }
    .bonus-sec .content .column p{
        font-size: 10px;
    }
    .bonus-sec .content .column .link{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .bonus-sec .content .column a{
        text-align: center;
        font-size: 8px;
    }
    footer .footer-info h2{
        font-size: 16px;
        font-weight: 700;
    }
    footer .footer-info p{
        font-family: "Manrope", sans-serif;
        font-size: 12px;
        font-weight: 700;
        margin-top: 3px;
        line-height: 24px;
    }
}

/* MEDIA QUERIES FOR TAB */
@media only screen and (min-width: 688px) and (max-width: 1032px){
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container .menu{
        position: absolute;
        display: none;
    }
    .container .logo h1{
        font-size: 16px;
    }
    .container .banner{
        width: 100%;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .container .banner .right-banner{
        display: flex;
        justify-content: center;
    }
    .container .banner .right-banner img{
        width: 60%;
        height: 25%;
    }
    .container .banner .left-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .container .banner .left-banner h1{
        font-size: 28px;
        text-align: center;
    }
    .container .banner .left-banner p{
        font-size: 14px;
        text-align: center;
        width: 85%;
    }
    .container .banner .left-banner a{
        font-size: 16px;
        padding: 4px 14px;
    }
    .sec-logo{
        width: 100%;
    }
    .sec-logo .images{
        width: 90%;
        height: 50px;
        display: grid;
        grid-template-columns: repeat(4, .5fr);
    }
    .sec-logo .images img{
        width: 30px;
        display: flex;
    }
    .main-part{
        width: 689px;
        margin: 0 auto;
    }
    .sec-1{
        width: 689px;
        margin: 0 auto;
    }
    .main-part .sec-1 .products{
        grid-template-columns: repeat(2, 1fr);
    }
    .ancor{
        width: 100%;
        justify-content: center;
    }
    .bonus-sec{
        width: 100%;
    }
    .bonus-sec .content .column h3{
        height: 58px;
    }
    .bonus-sec .content .column p{
        font-size: 10px;
    }
    .bonus-sec .content .column .link{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .bonus-sec .content .column a{
        text-align: center;
        font-size: 8px;
    }
    footer .footer-info h2{
        font-size: 16px;
        font-weight: 700;
    }
    footer .footer-info p{
        font-family: "Manrope", sans-serif;
        font-size: 12px;
        font-weight: 700;
        margin-top: 3px;
        line-height: 24px;
    }
}